.output-component {
  height: 100%;

  &__content {
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.output-container {
  width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__city-name {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  &__weather {
    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      font-size: 50px;
    }
  }
}

.error-container {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;

  & h1 {
    color: #b41010;
  }
}