$swiper-height: 120px;

.output-container {
  display: flex;
  flex-direction: column;

  &__present-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 280px;

    & h1:last-of-type {
      font-size: 40px;
    }
  }

  &__future-content {
    margin-top: 10px;
    height: $swiper-height;

    &__swiper {
      height: $swiper-height;

      &__slide {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }
    }
  }
}

.icon-container {
  height: 0;
  position: relative;
  right: 15px;
  bottom: 5px;
}